#enclosure {
  width:100vw;
  height:100vh;
  text-align:center;
  align-items:center;
  display:none;
  justify-content:center;
  flex-direction:column;
}

#picker {
  width:100vw;
  height:100vh;
  text-align:center;
  align-items:center;
  display:flex;
  justify-content:center;
  flex-direction:column;
}

.picker-row {
  text-align:center;
  align-items:center;
  display:flex;
  justify-content:center;
  flex-direction:row;
}

.shelf {
  width:100px;
  height:100px;
  margin:10px;
  text-align:center;
  align-items:center;
  display:flex;
  justify-content:center;
  flex-direction:column;
  font-size:200%;
  font-weight:700;
  border:2px solid black;
  cursor:pointer;
  border-radius:5px;
}

#word {
  font-size:700%;
  margin-bottom:40px;
}

#meaning {
  font-size:200%;
}